$openid-connect-icon-width: 24px;

.mdm-sde-sign-in {
  &__providers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    button {
      padding: 8px 0;
      margin: 8px 0;
    }
  }

  &__provider-icon {
    width: $openid-connect-icon-width;
    height: $openid-connect-icon-width;
    margin: 4px 8px;
  }
}
