<div class="mdm-forgot-password-form">
  <form [formGroup]="resetForm" role="form" autocomplete="on" name="resetForm">
    <div class="mdm-forgot-password-form__input">
      <mat-form-field [appearance]="formFieldAppearance">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          formControlName="email"
          autocomplete="on"
          placeholder="Enter your email"
          required
        />
        <mat-error *ngIf="email?.errors?.required">
          Email is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.pattern">
          Invalid email address
        </mat-error>
      </mat-form-field>
    </div>
    <div class="mdm-forgot-password-form__submit">
      <button
        type="submit"
        (click)="resetPassword()"
        mat-flat-button
        color="primary"
        [disabled]="isSending || resetForm.invalid"
      >
        Reset your password
      </button>
    </div>
    <div class="mdm-forgot-password-form__cancel">
      <button
        (click)="cancel()"
        mat-stroked-button
        color="primary"
        [disabled]="isSending"
      >
        {{ cancelLabel }}
      </button>
    </div>
  </form>
</div>
