<div *ngIf="bookmark" class="highlight-box mdm-bookmark-row">
  <span>
    <mat-checkbox (change)="handleChecked($event)" [checked]="isChecked"></mat-checkbox>
    <h3>{{ bookmark.label }}</h3>
    <a
      [routerLink]="[
        '/dataElement',
        bookmark.dataModelId,
        bookmark.dataClassId,
        bookmark.id
      ]"
      >View Details</a
    >
    <mdm-breadcrumb [item]="bookmark"></mdm-breadcrumb>
  </span>
  <span>
    <button mat-stroked-button [mdmArrow]="'angle-down'" [matMenuTriggerFor]="menu">
      Move element:
    </button>
    <mdm-bookmark-toggle
      [selected]="true"
      (toggle)="handleRemove()"
    ></mdm-bookmark-toggle>
  </span>
</div>
<!-- Lazily rendered dropdown menu.  -->
<mat-menu #menu="matMenu" xPosition="before" yPosition="below">
  <ng-template matMenuContent>
    <button
      *ngFor="let request of openRequests"
      (click)="handleAddToRequest(request)"
      mat-menu-item
    >
      {{ request.label }}
    </button>
  </ng-template>
</mat-menu>
