<div class="mdm-modal">
  <div class="mdm-modal__heading">
    <h1 mat-dialog-title>New request created</h1>
  </div>
  <div class="mdm-modal__content">
    <mat-dialog-content>
      <p>1 {{ data.itemType }} added to new request: '{{ data.requestName }}'</p>
      <ul>
        <li>{{ data.itemName }}</li>
      </ul>
    </mat-dialog-content>
  </div>
  <div class="mdm-modal__actions">
    <mat-dialog-actions>
      <button mat-dialog-close (click)="viewRequests()">View requests</button>
      <button mat-dialog-close class="mdm-modal__action-button" (click)="close()">
        Continue browsing
      </button>
    </mat-dialog-actions>
  </div>
</div>
