@import "../../../styles.scss";

$emphasis-background: $color-gray-38;
$emphasis-text: white;

.mdm-modal {
  background-color: white;
  height: 100%;

  &__heading {
    background-color: $emphasis-background;
    padding-left: 10px;
    color: $emphasis-text;
  }

  &__content {
    padding-left: 10px;
    padding-right: 10px;
    word-break: break-word;
  }

  &__actions {
    padding: 10px;
    padding-bottom: 30px;
    & mat-dialog-actions {
      min-height: 80px;
      justify-content: flex-end;
      align-items: flex-end;
    }
    & button {
      margin: 0 5px 0 5px;
    }
  }
  &__action-button {
    background-color: $emphasis-background;
    color: $emphasis-text;
  }
}
