<div class="flex-container--vertical highlight-box">
  <div class="card">
    <form role="form" name="search" (submit)="search()">
      <mat-form-field appearance="outline" class="mdm-dashboard__search-input">
        <input matInput placeholder="Search" name="search" [(ngModel)]="searchTerms" />
        <button mat-icon-button matSuffix type="submit">
          <mat-icon fontSet="fa-solid" fontIcon="fa-magnifying-glass"></mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div class="card">
    <span>Requests you are currently working on</span>
  </div>
  <div class="card">
    <span>Recent Activity</span>
  </div>
</div>
